# Prediccion de Default en Prestamos

Para este proyecto utilizaremos un sample de los datos de Lending Club. La idea es predecir si cierto usuario cometera Default basado en informacion que la plataforma recolecta. Esto nos ayudara a mejorar la metodologia/pipeline de prestamo.

# Descripcion



Contiene los prestamos de esta plataforma:

    periodo 2007-2017Q3.
    887mil observaciones, sample de 100mil
    150 variables
    Target: loan status

# Objetivo

Realizar un ETL y un EDA

## ETL

0. Limpia los datos de tal manera que al final del ETL queden en formato `tidy`.
1. Asegurate de cargar y leer los datos
2. Crea una tabla donde se guarde el nombre de la columna y el tipo de dato: (`column_name`,   `type`).
3. Asegurate de pensar cual es el tipo de dato correcto. Porque elejiste strig/object o float o int?. No hay respuestas incorrectas como tal, pero tienes que justificar tu decision.
4. Maneja missings o nans de la manera adecuada. Justifica cada decision

## EDA

0. Preparar lo datos para un pipeline de datos
1. Quitar columnas inservibles 
2. Imputar valores
3. Mantener replicabildiad y reproducibilidad

**No olvides anotar tus justificaciones en celdas para recordar cuando te toque explicarlo.** Puedes agregar el numero de celdas que necesites para poner tu explicacion y el codigo, solo manten la estructura.

# ETL

In [1]:
import pandas as pd
import numpy as np

Vas a obtener 2 errores, solucionalo con los visto en clase.  
Tip: Se arreglan con argumentos adicionales de la funcion `read_csv`  
Documentacion: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [3]:
loans = pd.read_csv('https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true',
                    compression='gzip')
loans

/var/folders/19/9kqb3cd921sd204qnh8grxs40000gn/T/ipykernel_27766/653086153.py:1: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  loans = pd.read_csv('https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true',

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,38098114,NaN,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,36805548,NaN,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,37842129,NaN,21425.0,21425.0,21425.0,60 months,15.59,516.36,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,37612354,NaN,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,37662224,NaN,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,22454240,NaN,8400.0,8400.0,8400.0,36 months,9.17,267.79,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99996,99996,11396920,NaN,10000.0,10000.0,10000.0,36 months,12.99,336.90,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99997,99997,8556176,NaN,30000.0,30000.0,30000.0,60 months,20.99,811.44,E,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99998,99998,24023408,NaN,8475.0,8475.0,8475.0,36 months,24.99,336.92,F,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99999,99999,24023398,NaN,25000.0,25000.0,25000.0,36 months,10.15,808.45,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## Tabla (column_name, type)

Revisa el metodo pd.DataFrame.dtypes. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html

In [6]:
#column_types = pd.DataFrame.dtypes

column_types = loans.dtypes
column_types

Unnamed: 0                 int64
id                         int64
member_id                float64
loan_amnt                float64
funded_amnt              float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 151, dtype: object

## Cargar descripcion de columnas

La siguiente tabla tiene una descripcion del significado de cada columna

In [7]:


datos_dict = pd.read_excel(
    'https://resources.lendingclub.com/LCDataDictionary.xlsx')
datos_dict.columns = ['feature', 'description']

In [8]:
datos_dict

                   feature                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

### Pickle

Crea codigo para **guardar** y **cargar** el DataFrame de `datos_dict` creada en las celdas anteriores en formato **pickle**

In [10]:
# COdigo guardar
datos_dict.to_pickle('datos_dict.pkl')

In [11]:
# Codigo para cargar
datos_dict_cargado = pd.read_pickle('datos_dict.pkl')
datos_dict_cargado

                   feature                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

In [14]:
datos_dict.dtypes

feature        object
description    object
dtype: object

## Tipos de Datos

Realiza las transformaciones o casteos (casting) que creas necesarios a tus datos de tal manera que el typo de dato sea adecuado. Al terminar recrea la tabla `column_types` con los nuevos tipos.

No olvides anotar tus justificaciones para recordar cuando te toque explicarlo.

In [31]:
# Manejos de tipos 1
# Tu codigo aqui
# to string type
loans_copy = loans.copy()

object_columns = loans_copy.select_dtypes(include=['object']).columns
loans_copy[object_columns] = loans_copy[object_columns].astype('string')
loans_copy.dtypes

Unnamed: 0                        int64
id                                int64
member_id                       float64
loan_amnt                       float64
funded_amnt                     float64
                              ...
settlement_status        string[python]
settlement_date          string[python]
settlement_amount               float64
settlement_percentage           float64
settlement_term                 float64
Length: 151, dtype: object

In [32]:
# Manejos de tipos 2
# Tu codigo aqui
loans_copy.drop(columns=['Unnamed: 0','member_id'], inplace=True)

In [38]:
column_types = loans_copy.dtypes.to_frame()
for index, row in column_types.iterrows():
    print(f'{index} -- > {row[0]}')

id -- > int64
loan_amnt -- > int64
funded_amnt -- > int64
funded_amnt_inv -- > int64
term -- > string
int_rate -- > int64
installment -- > int64
grade -- > string
sub_grade -- > string
emp_title -- > string
emp_length -- > string
home_ownership -- > string
annual_inc -- > int64
verification_status -- > string
issue_d -- > string
loan_status -- > string
pymnt_plan -- > string
desc -- > string
purpose -- > string
title -- > string
zip_code -- > string
addr_state -- > string
dti -- > int64
delinq_2yrs -- > int64
earliest_cr_line -- > string
fico_range_low -- > int64
fico_range_high -- > int64
inq_last_6mths -- > int64
mths_since_last_delinq -- > float64
mths_since_last_record -- > float64
open_acc -- > float64
pub_rec -- > float64
revol_bal -- > float64
revol_util -- > float64
total_acc -- > float64
initial_list_status -- > string
out_prncp -- > float64
out_prncp_inv -- > float64
total_pymnt -- > float64
total_pymnt_inv -- > float64
total_rec_prncp -- > float64
total_rec_int -- > float64
total_rec_late_fee -- > float64
recoveries -- > float64
collection_recovery_fee -- > float64
last_pymnt_d -- > string
last_pymnt_amnt -- > float64
next_pymnt_d -- > string
last_credit_pull_d -- > string
last_fico_range_high -- > float64
last_fico_range_low -- > float64
collections_12_mths_ex_med -- > float64
mths_since_last_major_derog -- > float64
policy_code -- > float64
application_type -- > string
annual_inc_joint -- > float64
dti_joint -- > float64
verification_status_joint -- > float64
acc_now_delinq -- > float64
tot_coll_amt -- > float64
tot_cur_bal -- > float64
open_acc_6m -- > float64
open_act_il -- > float64
open_il_12m -- > float64
open_il_24m -- > float64
mths_since_rcnt_il -- > float64
total_bal_il -- > float64
il_util -- > float64
open_rv_12m -- > float64
open_rv_24m -- > float64
max_bal_bc -- > float64
all_util -- > float64
total_rev_hi_lim -- > float64
inq_fi -- > float64
total_cu_tl -- > float64
inq_last_12m -- > float64
acc_open_past_24mths -- > float64
avg_cur_bal -- > float64
bc_open_to_buy -- > float64
bc_util -- > float64
chargeoff_within_12_mths -- > float64
delinq_amnt -- > float64
mo_sin_old_il_acct -- > float64
mo_sin_old_rev_tl_op -- > float64
mo_sin_rcnt_rev_tl_op -- > float64
mo_sin_rcnt_tl -- > float64
mort_acc -- > float64
mths_since_recent_bc -- > float64
mths_since_recent_bc_dlq -- > float64
mths_since_recent_inq -- > float64
mths_since_recent_revol_delinq -- > float64
num_accts_ever_120_pd -- > float64
num_actv_bc_tl -- > float64
num_actv_rev_tl -- > float64
num_bc_sats -- > float64
num_bc_tl -- > float64
num_il_tl -- > float64
num_op_rev_tl -- > float64
num_rev_accts -- > float64
num_rev_tl_bal_gt_0 -- > float64
num_sats -- > float64
num_tl_120dpd_2m -- > float64
num_tl_30dpd -- > float64
num_tl_90g_dpd_24m -- > float64
num_tl_op_past_12m -- > float64
pct_tl_nvr_dlq -- > float64
percent_bc_gt_75 -- > float64
pub_rec_bankruptcies -- > float64
tax_liens -- > float64
tot_hi_cred_lim -- > float64
total_bal_ex_mort -- > float64
total_bc_limit -- > float64
total_il_high_credit_limit -- > float64
revol_bal_joint -- > float64
sec_app_fico_range_low -- > float64
sec_app_fico_range_high -- > float64
sec_app_earliest_cr_line -- > float64
sec_app_inq_last_6mths -- > float64
sec_app_mort_acc -- > float64
sec_app_open_acc -- > float64
sec_app_revol_util -- > float64
sec_app_open_act_il -- > float64
sec_app_num_rev_accts -- > float64
sec_app_chargeoff_within_12_mths -- > float64
sec_app_collections_12_mths_ex_med -- > float64
sec_app_mths_since_last_major_derog -- > float64
hardship_flag -- > string
hardship_type -- > string
hardship_reason -- > string
hardship_status -- > string
deferral_term -- > float64
hardship_amount -- > float64
hardship_start_date -- > string
hardship_end_date -- > string
payment_plan_start_date -- > string
hardship_length -- > float64
hardship_dpd -- > float64
hardship_loan_status -- > string
orig_projected_additional_accrued_interest -- > float64
hardship_payoff_balance_amount -- > float64
hardship_last_payment_amount -- > float64
disbursement_method -- > string
debt_settlement_flag -- > string
debt_settlement_flag_date -- > string
settlement_status -- > string
settlement_date -- > string
settlement_amount -- > float64
settlement_percentage -- > float64
settlement_term -- > float64

## Manejo de NaNs o missings

Maneja los datos de tipos missing. Elije una estrategia adecuada dependiendo del tipo de dato que le asignaste a la columna.

Crea codigo para **guardar** y **cargar** un archivo JSON en el que se guarde la `estrategia` y `valor` que utilizaste para **imputar**. Por ejemplo: Si hay una columna que se llama `columna 3` y utilizaste la estrategia de imputacion de media, y existe otra llamada `columna 4` y  elegiste la palabra 'missing' el JSON debera contener:  
  
 `{'columna 3':{'estrategia':'mean', 'valor':3.4}, 'columna 4':{'estrategia':'identificador', 'valor':'missing'}}`  

 De tal manera que para cada columna que tenga un metodo de imputacion apunte a otro diccionario donde el **key** `estrategia` describa de manera sencilla el metodo, y el **key** `valor` el valor usado. En general:   
 `{'nombre de la columna':{'estrategia':'descripcion de estrategia', 'valor':'valor utilizado'}}`. 
 

De utilizar mas de un metodo puedes anidarlos en una lista  
  `[{...},{...}]`.  

Incluso si la columna utilizada no sufrio imputacion, es necesario que la agregues al JSON.

La idea es que cualquier otra persona pueda cargar el el archivo JSON con tu funcion, entender que hiciste y replicarlo facilmente. No existe solo una respuesta correcta, pero tendras que justificar y explicar tus deciciones.

### Imputacion

In [40]:
# Tu codigo aqui
imputation_strategies = {}

financial_cols = [
    'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'installment', 'annual_inc',
    'revol_bal', 'total_pymnt', 'total_rec_prncp', 'total_rec_int', 'recoveries',
    'collection_recovery_fee', 'last_pymnt_amnt', 'total_rev_hi_lim'
]
for col in financial_cols:
    median_value = loans_copy[col].median()
    imputation_strategies[col] = {
        'estrategia': 'mediana',
        'valor': float(median_value) if pd.notnull(median_value) else None
    }

score_cols = [
    'fico_range_low', 'fico_range_high', 'dti', 'revol_util', 'bc_util',
    'il_util', 'all_util', 'pct_tl_nvr_dlq', 'percent_bc_gt_75'
]
for col in score_cols:
    mean_value = loans_copy[col].mean()
    imputation_strategies[col] = {
        'estrategia': 'media',
        'valor': float(mean_value) if pd.notnull(mean_value) else None
    }

count_cols = [
    'delinq_2yrs', 'inq_last_6mths', 'open_acc', 'pub_rec', 'total_acc',
    'collections_12_mths_ex_med', 'acc_now_delinq', 'chargeoff_within_12_mths',
    'num_accts_ever_120_pd', 'num_tl_30dpd', 'tax_liens'
]
for col in count_cols:
    imputation_strategies[col] = {
        'estrategia': 'valor_constante',
        'valor': 0
    }

time_cols = [
    'mths_since_last_delinq', 'mths_since_last_record', 'mths_since_last_major_derog',
    'mo_sin_old_il_acct', 'mths_since_recent_bc', 'mths_since_recent_inq'
]
for col in time_cols:
    max_val = loans_copy[col].max()
    imputation_strategies[col] = {
        'estrategia': 'maximo_plus_one',
        'valor': float(max_val + 1) if pd.notnull(max_val) else 0
    }

categorical_ordered_cols = ['grade', 'sub_grade']
for col in categorical_ordered_cols:
    mode_value = loans_copy[col].mode()[0]
    imputation_strategies[col] = {
        'estrategia': 'moda',
        'valor': str(mode_value) if pd.notnull(mode_value) else None
    }

categorical_cols = [
    'emp_title', 'home_ownership', 'verification_status', 'pymnt_plan',
    'purpose', 'title', 'application_type', 'hardship_type', 'hardship_reason'
]
for col in categorical_cols:
    imputation_strategies[col] = {
        'estrategia': 'valor_constante',
        'valor': 'Unknown'
    }

text_cols = ['desc']
for col in text_cols:
    imputation_strategies[col] = {
        'estrategia': 'valor_constante',
        'valor': ''
    }

date_cols = [
    'issue_d', 'earliest_cr_line', 'last_pymnt_d', 'next_pymnt_d',
    'last_credit_pull_d', 'hardship_start_date', 'hardship_end_date'
]
for col in date_cols:
    median_date = loans_copy[col].median()
    imputation_strategies[col] = {
        'estrategia': 'mediana_fecha',
        'valor': str(median_date) if pd.notnull(median_date) else None
    }

flag_cols = ['hardship_flag', 'debt_settlement_flag']
for col in flag_cols:
    imputation_strategies[col] = {
        'estrategia': 'valor_constante',
        'valor': 'N'
    }

location_cols = ['zip_code', 'addr_state']
for col in location_cols:
    imputation_strategies[col] = {
        'estrategia': 'valor_constante',
        'valor': 'Unknown'
    }

loans_copy

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,38098114,15000,15000,15000,60 months,12,336,C,C1,MANAGEMENT,...,NaN,NaN,Cash,N,<NA>,<NA>,<NA>,NaN,NaN,NaN
1,36805548,10400,10400,10400,36 months,6,321,A,A3,Truck Driver Delivery Personel,...,NaN,NaN,Cash,N,<NA>,<NA>,<NA>,NaN,NaN,NaN
2,37842129,21425,21425,21425,60 months,15,516,D,D1,Programming Analysis Supervisor,...,NaN,NaN,Cash,N,<NA>,<NA>,<NA>,NaN,NaN,NaN
3,37612354,12800,12800,12800,60 months,17,319,D,D4,Senior Sales Professional,...,NaN,NaN,Cash,N,<NA>,<NA>,<NA>,NaN,NaN,NaN
4,37662224,7650,7650,7650,36 months,13,260,C,C3,Technical Specialist,...,NaN,NaN,Cash,N,<NA>,<NA>,<NA>,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,22454240,8400,8400,8400,36 months,9,267,B,B1,Software Engineer,...,NaN,NaN,Cash,N,<NA>,<NA>,<NA>,NaN,NaN,NaN
99996,11396920,10000,10000,10000,36 months,12,336,C,C1,Assistant Professor of English,...,NaN,NaN,Cash,N,<NA>,<NA>,<NA>,NaN,NaN,NaN
99997,8556176,30000,30000,30000,60 months,20,811,E,E4,Facilities Tech 3,...,NaN,NaN,Cash,N,<NA>,<NA>,<NA>,NaN,NaN,NaN
99998,24023408,8475,8475,8475,36 months,24,336,F,F4,Records Examiner Analyst,...,NaN,NaN,Cash,N,<NA>,<NA>,<NA>,NaN,NaN,NaN
99999,24023398,25000,25000,25000,36 months,10,808,B,B2,Occupational Theapy Assistant,...,NaN,NaN,Cash,N,<NA>,<NA>,<NA>,NaN,NaN,NaN

### Codigo para salvar y cargar JSONs

In [47]:
# guardado 
import json
with open('estrategias.json', 'w') as f:
    json.dump(imputation_strategies, f, indent=4)

# carga
with open('estrategias.json', 'r') as f:
    data = json.load(f)


def aplicar_estrategias(df, estrategias):
    df_copy = df.copy()
    for columna, info in estrategias.items():
        if columna in df_copy.columns:
            if info['estrategia'] == 'mediana':
                df_copy[columna] = df_copy[columna].fillna(info['valor'])
            elif info['estrategia'] == 'media':
                df_copy[columna] = df_copy[columna].fillna(info['valor'])
            elif info['estrategia'] == 'valor_constante':
                df_copy[columna] = df_copy[columna].fillna(info['valor'])
            elif info['estrategia'] == 'maximo_plus_one':
                df_copy[columna] = df_copy[columna].fillna(info['valor'])
            elif info['estrategia'] == 'moda':
                df_copy[columna] = df_copy[columna].fillna(info['valor'])
            elif info['estrategia'] == 'mediana_fecha':
                df_copy[columna] = pd.to_datetime(df_copy[columna], errors='coerce')
                df_copy[columna] = df_copy[columna].fillna(pd.to_datetime(info['valor']))
    return df_copy